<div class="px-10 py-25 mx-auto max-w-5xl">
  <h2 class="font-serif text-5xl italic text-center mb-16">Stay Guidelines</h2>

  <div class="guidelines-container">
    <div *ngFor="let guideline of guidelines" class="guideline-row">
      <div class="guideline-title">{{ guideline.title }}</div>
      <div class="guideline-content">
        <p *ngFor="let item of guideline.description; let idx = index" 
           [ngClass]="{'guideline-text-highlight': guideline.title === 'CHECK-IN / OUT' && idx < 2}"
           class="guideline-text">{{ item }}</p>
      </div>
    </div>
  </div>
</div>
